<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask-SocketIO Example</title>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='globals.js')}}"></script>
    <script src="{{url_for('static', filename='mandlebrot.js')}}"></script>
    <script src="{{url_for('static', filename='socket.js')}}"></script>
</head>
<body>
    Please note that this may not render on every browser. I do not care. 
    <div id="someid"></div>
    <canvas id="canvas"></canvas>

</body>
</html>